 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 * {
    box-sizing: border-box;
 }

 body {
    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
 }

 img {
    max-width: 100%;
 }