@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 90vw;
 
}

.panel {
   background-size: auto 100%;
   background-repeat: no-repeat;
   background-position: center;
   height: 80vh;
   cursor: pointer;
   color: #fff;
   position: relative;
   flex: 0.5;
   margin: 10px;
   border-radius: 50px;
}