@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #686de0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%;
    width: 800px;
}